/* LAYOUT */

        .container{
            max-width: 1920px;
            margin: 0 auto;
        }
        
        .row{
            display: flex;
            flex-wrap: wrap;
        }
        
        .column-2{
            width: calc(100%/2 - 40px);
            flex-grow: 1;
            /* flex-basis: 400px; */
        }
        .column-4{
            width: calc(100%/4 - 40px);
            flex-grow: 1;
        }
        /* img{
            width: 100%;
        } */
        .row img{
            width: 100%;
        }
        .bg-2{
            background-color: rgb(38, 38, 195);
            height: 100%;
        }

        a{
            text-decoration: none;
            color: black;
        }
   
           
        h2{
            font-size: 2rem;
        } 
     
        /* NAVIGATION */
        
        ul{
            list-style: none;
            padding-left: 20rem;
        } 
        .menu{display: flex;}
        .menu li{
            padding: 0 1rem;
        }
        .main-nav{
            display: flex;
            justify-content: space-between;
            align-items: center;

        }
        .logo{
            margin-top: 1rem;
        }
        /* Banner          */
        .banner-img{
            width: 100%;
        }
        /* .banner-container{
            position: relative;
            text-align: center;

        } */
        .banner-img{
            position: relative;
        }
        .galaxy-z{
            position: absolute;
            left: 100px;
            bottom: 20px;
            color:black;
        }
        .banner-container{
            position: relative;
        }
        /* HIGHLIGHT */
        .highlight{
            margin-bottom: 4rem;
        }
        .bg-color{
            background-color: rgb(236, 241, 246);
        }
        .text{
            position: absolute;
            color: white;
            font-size: 1.5rem;
            left: 40px;
            line-height: 1rem;
        }
        .text2{
            position: absolute;
            color: white;
            right: 40px;
            font-size: 1.5rem;
            line-height: 1rem;
        }
        /* NEW-SEction */
        .flip4{
            position: relative;
            text-align: center;
        }
        .galaxy{
            position: absolute;
            left: 120px;
            bottom: 15px;
            font-weight: bold;
            font-size: 1.2rem;
        }
        .tab{   left:3rem;        
        }

        /* FOOTER */
        .footer-menu{
            margin-left: -10rem;
        }
        #ftr-img{
            width: 10vw;
            margin-right: 2rem;
        }  
        footer{
            color: rgb(79, 75, 75);
        }
i{
    color: black;
    height: 2rem;
    width: 2rem;
}